
body {
  margin: 0;
  background: #222;
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clase-app {
  display: flex;
  flex-direction: column;
  gap: 16px;

}